{% extends "ZantolovBlogBundle::base.html.twig" %}

{% block body %}

    <ul class="list-unstyled">
        {% for post in posts %}
            {% include "ZantolovBlogBundle:Blog:partials/blogPostListItem.html.twig" with {post:post} %}
        {% endfor %}
    </ul>

    <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}