{% extends 'ZantolovBlogBundle::baseAdmin.html.twig' %}

{% block body -%}
    <h1>Category creation</h1>

    {{ form(form) }}

    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('blog.admin.category') }}">
                <i class="fa fa-arrow-left"></i> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
