{% extends '::app.html.twig' %}

    {% block body -%}

        <div class="col-md-12">
            {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
            routePrefix: crudId,
            ignoreLinks: ['edit']
            } %}{% endembed %}


            {% include 'ZantolovBlogBundle:Post:postForm.html.twig' with {postForm: form} %}

        </div>
    {% endblock %}

